services:
    -
        class: CanyonGBS\Common\Support\PHPStan\CanBeArchivedExtension
        tags:
            - phpstan.broker.methodsClassReflectionExtension
    -
        class: CanyonGBS\Common\Support\PHPStan\CanBeArchivedRelationExtension
        tags:
            - phpstan.broker.methodsClassReflectionExtension
    -
        class: CanyonGBS\Common\Support\PHPStan\WhereHasClosureTypeExtension
        tags:
            - phpstan.methodParameterClosureTypeExtension
