services:
    -
        class: CanyonGBS\Common\Support\PHPStan\CanBeArchivedExtension
        tags:
            - phpstan.broker.methodsClassReflectionExtension
    -
        class: CanyonGBS\Common\Support\PHPStan\CanBeArchivedRelationExtension
        tags:
            - phpstan.broker.methodsClassReflectionExtension
    -
        class: CanyonGBS\Common\Support\PHPStan\WhereHasClosureTypeExtension
        tags:
            - phpstan.methodParameterClosureTypeExtension
    -
        class: CanyonGBS\Common\Rules\DeleteForceDeleteRestoreBulkEquivalents\DeleteForceDeleteRestoreBulkEquivalentsRule
        tags:
            - phpstan.rules.rule
    -
        class: CanyonGBS\Common\Rules\FeatureFlagConventions\FeatureFlagConventionsRule
        arguments:
            baseClasses: %featureFlagBaseClasses%
            featuresNamespace: %featuresNamespace%
        tags:
            - phpstan.rules.rule
    -
        class: CanyonGBS\Common\Rules\MigrationHasUpAndDownMethods\MigrationHasUpAndDownMethodsRule
        tags:
            - phpstan.rules.rule
    -
        class: CanyonGBS\Common\Rules\ModelHasFillableAndNoGuarded\ModelHasFillableAndNoGuardedRule
        tags:
            - phpstan.rules.rule
    -
        class: CanyonGBS\Common\Rules\NoBlueprintAfterGrouping\NoBlueprintAfterGroupingRule
        tags:
            - phpstan.rules.rule
    -
        class: CanyonGBS\Common\Rules\NoLocalModelScope\NoLocalModelScopeRule
        tags:
            - phpstan.rules.rule
    -
        class: CanyonGBS\Common\Rules\NoJsonColumnInMigration\NoJsonColumnInMigrationRule
        tags:
            - phpstan.rules.rule
    -
        class: CanyonGBS\Common\Rules\NoStrtolower\NoStrtolowerRule
        tags:
            - phpstan.rules.rule

parameters:
    featureFlagBaseClasses:
        - App\Support\AbstractFeatureFlag
        - App\Support\LandlordAbstractFeatureFlag
    featuresNamespace: App\Features

parametersSchema:
    featureFlagBaseClasses: listOf(string())
    featuresNamespace: string()
