includes:
    - ../../phpstan-extension.neon

parameters:
    level: 6
    scanFiles:
        - Fixtures/FeatureFlag/AbstractFeatureFlagStub.php
        - Fixtures/FeatureFlag/LandlordAbstractFeatureFlagStub.php
