parameters:
    level: 6
    scanFiles:
        - ../Fixtures/Auditing/LegacyAuditableTraitStub.php
        - ../Fixtures/Auditing/CommonAuditableWrapperStub.php

services:
    -
        class: CanyonGBS\Common\Rules\ModelMustUseCommonAuditableTrait\ModelMustUseCommonAuditableTraitRule
        arguments:
            forbiddenAuditableTraits:
                - Fixtures\Auditing\LegacyAuditableTraitStub
        tags:
            - phpstan.rules.rule
