parameters:
    level: 6

services:
    -
        class: CanyonGBS\Common\Rules\SettingsPropertiesMustHaveDefaults\SettingsPropertiesMustHaveDefaultsRule
        tags:
            - phpstan.rules.rule
