parameters:
    level: 6

services:
    -
        class: CanyonGBS\Common\Rules\ShouldBeUniqueJobMustDefineUniqueFor\ShouldBeUniqueJobMustDefineUniqueForRule
        tags:
            - phpstan.rules.rule
