name: CI

on:
    workflow_call:
        secrets:
            pat-token:
                required: true
    workflow_dispatch:

jobs:
    enforce-copyright:
        runs-on: ubuntu-22.04

        timeout-minutes: 10

        steps:
            - name: Checkout code | Internal
              if: ${{ github.event_name == 'merge_group' || github.event.pull_request.head.repo.full_name == github.repository && github.actor != 'dependabot[bot]' }}
              uses: actions/checkout@de0fac2e4500dabe0009e67214ff5f5447ce83dd #6.0.2
              with:
                  token: ${{ secrets.pat-token }}

            - name: Checkout code | External
              if: ${{ github.event_name != 'merge_group' && github.event.pull_request.head.repo.full_name != github.repository || github.actor == 'dependabot[bot]' }}
              uses: actions/checkout@de0fac2e4500dabe0009e67214ff5f5447ce83dd #6.0.2

            - name: Set up Ruby
              uses: ruby/setup-ruby@90be1154f987f4dc0fe0dd0feedac9e473aa4ba8 #1.286.0

            - name: Run Ruby Script
              run: ruby ./copyright.rb

            - name: Commit changes
              if: ${{ github.event_name != 'merge_group' && github.event.pull_request.head.repo.full_name == github.repository && github.actor != 'dependabot[bot]' }}
              uses: stefanzweifel/git-auto-commit-action@04702edda442b2e678b25b537cec683a1493fcb9 #7.1.0
              with:
                  commit_message: >
                      chore: fix enforcement of copyright on all files

            - name: Check for changes
              if: ${{ github.event_name == 'merge_group' || github.event.pull_request.head.repo.full_name != github.repository || github.actor == 'dependabot[bot]' }}
              uses: tj-actions/verify-changed-files@a1c6acee9df209257a246f2cc6ae8cb6581c1edf #20.0.4
              with:
                  fail-if-changed: 'true'

    fix-code-style:
        runs-on: ubuntu-22.04

        timeout-minutes: 10

        needs: [enforce-copyright]

        steps:
            - uses: shivammathur/setup-php@44454db4f0199b8b9685a5d763dc37cbf79108e1 #2.36.0
              with:
                  php-version: '8.4'
                  coverage: none

            - name: Checkout code | Internal
              if: ${{ github.event_name == 'merge_group' || github.event.pull_request.head.repo.full_name == github.repository && github.actor != 'dependabot[bot]' }}
              uses: actions/checkout@de0fac2e4500dabe0009e67214ff5f5447ce83dd #6.0.2
              with:
                  token: ${{ secrets.pat-token }}

            - name: Checkout code | External
              if: ${{ github.event_name != 'merge_group' && github.event.pull_request.head.repo.full_name != github.repository || github.actor == 'dependabot[bot]' }}
              uses: actions/checkout@de0fac2e4500dabe0009e67214ff5f5447ce83dd #6.0.2

            - name: Setup Dependencies
              uses: ./.github/actions/composer-dependency-setup

            - uses: actions/setup-node@6044e13b5dc448c55e2357c09f80417699197238 #6.2.0
              with:
                  node-version-file: '.nvmrc'
                  cache: 'npm'
            - run: npm install

            - name: Cache PHP CS Fixer
              uses: actions/cache@8b402f58fbc84540c8b491a91e594a4576fec3d7 #5.0.2
              with:
                  path: .php-cs-fixer.cache
                  key: ${{ runner.OS }}-${{ github.repository }}-phpcsfixer-${{ github.run_id }}
                  restore-keys: |
                      ${{ runner.OS }}-${{ github.repository }}-phpcsfixer-

            - name: Cache Prettier
              uses: actions/cache@8b402f58fbc84540c8b491a91e594a4576fec3d7 #5.0.2
              with:
                  path: ./node_modules/.cache/prettier/.prettier-cache
                  key: ${{ runner.OS }}-${{ github.repository }}-prettier-${{ github.run_id }}
                  restore-keys: |
                      ${{ runner.OS }}-${{ github.repository }}-prettier-

            - name: Run Formatters
              run: composer format

            - name: Commit changes
              if: ${{ github.event_name != 'merge_group' && github.event.pull_request.head.repo.full_name == github.repository && github.actor != 'dependabot[bot]' }}
              uses: stefanzweifel/git-auto-commit-action@04702edda442b2e678b25b537cec683a1493fcb9 #7.1.0
              with:
                  commit_message: >
                      chore: fix code style

            - name: Check for changes
              if: ${{ github.event_name == 'merge_group' || github.event.pull_request.head.repo.full_name != github.repository || github.actor == 'dependabot[bot]' }}
              uses: tj-actions/verify-changed-files@a1c6acee9df209257a246f2cc6ae8cb6581c1edf #20.0.4
              with:
                  fail-if-changed: 'true'

    lint:
        runs-on: ubuntu-22.04

        timeout-minutes: 15

        needs: [enforce-copyright, fix-code-style]

        steps:
            - uses: shivammathur/setup-php@44454db4f0199b8b9685a5d763dc37cbf79108e1 #2.36.0
              with:
                  php-version: '8.4'
                  coverage: none
                  extensions: gd, gmp, redis

            - uses: actions/checkout@de0fac2e4500dabe0009e67214ff5f5447ce83dd #6.0.2
              with:
                  fetch-depth: 0
                  fetch-tags: true

            - name: Setup Dependencies
              uses: ./.github/actions/composer-dependency-setup

            - name: 'Restore result cache'
              uses: actions/cache/restore@8b402f58fbc84540c8b491a91e594a4576fec3d7 #5.0.2
              with:
                  path: tmp
                  key: 'phpstan-result-cache-${{ github.run_id }}'
                  restore-keys: |
                      phpstan-result-cache-

            - name: Linting
              run: ./vendor/bin/phpstan analyse --configuration phpstan-ci.neon --no-progress

            - name: 'Save result cache'
              uses: actions/cache/save@8b402f58fbc84540c8b491a91e594a4576fec3d7 #5.0.2
              if: ${{ !cancelled() }}
              with:
                  path: tmp
                  key: 'phpstan-result-cache-${{ github.run_id }}'

    test:
        runs-on: ubuntu-22.04

        timeout-minutes: 15

        needs: [enforce-copyright, fix-code-style]

        steps:
            - uses: shivammathur/setup-php@44454db4f0199b8b9685a5d763dc37cbf79108e1 #2.36.0
              with:
                  php-version: '8.4'
                  coverage: none
                  extensions: gd, gmp, redis, mailparse

            - uses: actions/checkout@de0fac2e4500dabe0009e67214ff5f5447ce83dd #6.0.2
              with:
                  fetch-depth: 0
                  fetch-tags: true

            - name: Setup Dependencies
              uses: ./.github/actions/composer-dependency-setup

            - uses: actions/setup-node@6044e13b5dc448c55e2357c09f80417699197238 #6.2.0
              with:
                  node-version-file: '.nvmrc'
                  cache: 'npm'
            - run: npm install

            - name: Execute tests
              run: ./vendor/bin/pest --configuration phpunit.xml --parallel
