name: CI

on:
    workflow_call:
        secrets:
            pat-token:
                required: true
    workflow_dispatch:

jobs:
    enforce-copyright:
        runs-on: ubuntu-22.04

        timeout-minutes: 10

        steps:
            - name: Checkout code | Internal
              if: ${{ github.event_name == 'merge_group' || github.event.pull_request.head.repo.full_name == github.repository && github.actor != 'dependabot[bot]' }}
              uses: actions/checkout@8e8c483db84b4bee98b60c0593521ed34d9990e8 #6.0.1
              with:
                  token: ${{ secrets.pat-token }}

            - name: Checkout code | External
              if: ${{ github.event_name != 'merge_group' && github.event.pull_request.head.repo.full_name != github.repository || github.actor == 'dependabot[bot]' }}
              uses: actions/checkout@8e8c483db84b4bee98b60c0593521ed34d9990e8 #6.0.1

            - name: Set up Ruby
              uses: ruby/setup-ruby@ac793fdd38cc468a4dd57246fa9d0e868aba9085 #1.270.0

            - name: Run Ruby Script
              run: ruby ./copyright.rb

            - name: Commit changes
              if: ${{ github.event_name != 'merge_group' && github.event.pull_request.head.repo.full_name == github.repository && github.actor != 'dependabot[bot]' }}
              uses: stefanzweifel/git-auto-commit-action@28e16e81777b558cc906c8750092100bbb34c5e3 #7.0.0
              with:
                  commit_message: >
                      chore: fix enforcement of copyright on all files

            - name: Check for changes
              if: ${{ github.event_name == 'merge_group' || github.event.pull_request.head.repo.full_name != github.repository || github.actor == 'dependabot[bot]' }}
              uses: tj-actions/verify-changed-files@a1c6acee9df209257a246f2cc6ae8cb6581c1edf #20.0.4
              with:
                  fail-if-changed: 'true'

    fix-code-style:
        runs-on: ubuntu-22.04

        timeout-minutes: 10

        needs: [enforce-copyright]

        steps:
            - uses: shivammathur/setup-php@44454db4f0199b8b9685a5d763dc37cbf79108e1 #2.36.0
              with:
                  php-version: '8.4'
                  coverage: none

            - name: Checkout code | Internal
              if: ${{ github.event_name == 'merge_group' || github.event.pull_request.head.repo.full_name == github.repository && github.actor != 'dependabot[bot]' }}
              uses: actions/checkout@8e8c483db84b4bee98b60c0593521ed34d9990e8 #6.0.1
              with:
                  token: ${{ secrets.pat-token }}

            - name: Checkout code | External
              if: ${{ github.event_name != 'merge_group' && github.event.pull_request.head.repo.full_name != github.repository || github.actor == 'dependabot[bot]' }}
              uses: actions/checkout@8e8c483db84b4bee98b60c0593521ed34d9990e8 #6.0.1

            - name: Setup Dependencies
              uses: ./.github/actions/composer-dependency-setup

            - uses: actions/setup-node@395ad3262231945c25e8478fd5baf05154b1d79f #6.1.0
              with:
                  node-version-file: '.nvmrc'
                  cache: 'npm'
            - run: npm install

            - name: Cache PHP CS Fixer
              uses: actions/cache@9255dc7a253b0ccc959486e2bca901246202afeb #5.0.1
              with:
                  path: .php-cs-fixer.cache
                  key: ${{ runner.OS }}-${{ github.repository }}-phpcsfixer-${{ github.run_id }}
                  restore-keys: |
                      ${{ runner.OS }}-${{ github.repository }}-phpcsfixer-

            - name: Cache Prettier
              uses: actions/cache@9255dc7a253b0ccc959486e2bca901246202afeb #5.0.1
              with:
                  path: ./node_modules/.cache/prettier/.prettier-cache
                  key: ${{ runner.OS }}-${{ github.repository }}-prettier-${{ github.run_id }}
                  restore-keys: |
                      ${{ runner.OS }}-${{ github.repository }}-prettier-

            - name: Run Formatters
              run: composer format

            - name: Commit changes
              if: ${{ github.event_name != 'merge_group' && github.event.pull_request.head.repo.full_name == github.repository && github.actor != 'dependabot[bot]' }}
              uses: stefanzweifel/git-auto-commit-action@28e16e81777b558cc906c8750092100bbb34c5e3 #7.0.0
              with:
                  commit_message: >
                      chore: fix code style

            - name: Check for changes
              if: ${{ github.event_name == 'merge_group' || github.event.pull_request.head.repo.full_name != github.repository || github.actor == 'dependabot[bot]' }}
              uses: tj-actions/verify-changed-files@a1c6acee9df209257a246f2cc6ae8cb6581c1edf #20.0.4
              with:
                  fail-if-changed: 'true'

    lint:
        runs-on: ubuntu-22.04

        timeout-minutes: 15

        needs: [enforce-copyright, fix-code-style]

        steps:
            - uses: shivammathur/setup-php@44454db4f0199b8b9685a5d763dc37cbf79108e1 #2.36.0
              with:
                  php-version: '8.4'
                  coverage: none
                  extensions: gd, gmp, redis

            - uses: actions/checkout@8e8c483db84b4bee98b60c0593521ed34d9990e8 #6.0.1
              with:
                  fetch-depth: 0
                  fetch-tags: true

            - name: Setup Dependencies
              uses: ./.github/actions/composer-dependency-setup

            - name: 'Restore result cache'
              uses: actions/cache/restore@9255dc7a253b0ccc959486e2bca901246202afeb #5.0.1
              with:
                  path: tmp
                  key: 'phpstan-result-cache-${{ github.run_id }}'
                  restore-keys: |
                      phpstan-result-cache-

            - name: Linting
              run: ./vendor/bin/phpstan analyse --configuration phpstan-ci.neon --no-progress

            - name: 'Save result cache'
              uses: actions/cache/save@9255dc7a253b0ccc959486e2bca901246202afeb #5.0.1
              if: ${{ !cancelled() }}
              with:
                  path: tmp
                  key: 'phpstan-result-cache-${{ github.run_id }}'

    test:
        runs-on: ubuntu-22.04

        timeout-minutes: 15

        needs: [enforce-copyright, fix-code-style]

        steps:
            - uses: shivammathur/setup-php@44454db4f0199b8b9685a5d763dc37cbf79108e1 #2.36.0
              with:
                  php-version: '8.4'
                  coverage: none
                  extensions: gd, gmp, redis, mailparse

            - uses: actions/checkout@8e8c483db84b4bee98b60c0593521ed34d9990e8 #6.0.1
              with:
                  fetch-depth: 0
                  fetch-tags: true

            - name: Setup Dependencies
              uses: ./.github/actions/composer-dependency-setup

            - uses: actions/setup-node@395ad3262231945c25e8478fd5baf05154b1d79f #6.1.0
              with:
                  node-version-file: '.nvmrc'
                  cache: 'npm'
            - run: npm install

            - name: Execute tests
              run: ./vendor/bin/pest --configuration phpunit.xml --parallel
